body{
    background-color:grey;
}
#container
{
    background:#fff;
    margin-left:auto;
    margin-right:auto;
    width:750px;
}
.row{
    display:flex;
}
.row_time{
    width:40%;
    height:33,33%;
    display:flex;
    flex-wrap:wrap;
}
.row_info{
    width:60%;
    height:99.99%;
    background:green;
    display:flex;
    flex-wrap:wrap;
}