
.icon-user:before { content: '\e800'; } /* '' */
.icon-suitcase:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-folder-empty:before { content: '\f069'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */